body{
background-image:url(../images/back.jpg) ;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	border-bottom: -50px;
	color: white;
}
.logo{
	width: 30px;
	height: 30px;
}
.navbar{
	margin-top:-50px;
}
.jumbotron{
	background-color: transparent;
	color: orange;
	text-align: center;
}

}
footer{
	margin-bottom: -100px;
}
